body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

body::after {
  content: '';
  position: fixed;  /* Actualizado de absolute a fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 58, 64, 0.8);
  z-index: -1;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #c82333;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button:hover,
button:focus {
  background-color: #bd2130;
}
button.btn.btn-primary.btn-lg.btn-block {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #c82333;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button.btn.btn-primary.btn-lg.btn-block:hover,
button.btn.btn-primary.btn-lg.btn-block:focus {
  background-color: #bd2130;
  box-shadow: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#vehicleForm,
#vehicleList {
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
h1, h2 {
  animation: fadeIn 2s ease-in;
}

p, label, li {
  animation: fadeIn 2s ease-in 1s; /* Comienza 1 segundo después */
}
#preloader {
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #000; /* Color de fondo del preloader */
  z-index: 9999; /* Hacer que el preloader esté encima de todo lo demás */
  opacity: 0.4; /* Opacidad del preloader */
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%; /* Centrar el spinner horizontalmente */
  top: 50%; /* Centrar el spinner verticalmente */
  margin: -20px 0 0 -20px; /* Mover el spinner al centro exacto de la pantalla */
  border: 5px solid #f00; /* Color del borde exterior del spinner */
  border-top-color: #fff; /* Color del borde superior del spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


h1, h2, p, label, li {
  animation: fadeIn 2s ease-in;
}



.container {
  max-width: 960px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454d55;
  border-color: #454d55;
}

.list-group-item button {
  margin-left: 10px;
  background-color: #dc3545;
  border-color: #dc3545;
}

.list-group-item button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.form-control, .custom-select {
  background-color: #454d55;
  border-color: #454d55;
  color: #fff;
}

.needs-validation .form-control:invalid, .needs-validation .custom-select:invalid {
  border-color: #dc3545;
}

.needs-validation .form-control:valid, .needs-validation .custom-select:valid {
  border-color: #28a745;
}
